@{
    Layout = "_Layout";

    var receitas = ViewBag.ReceitasCulinaria as List<ItemViewModel>;
    //var tiposProcesso = ViewBag.
}

<link href="~/componentes/shepherd/shepherd.css" rel="stylesheet" />
<link href="~/componentes/izimodal/css/iziModal.min.css" rel="stylesheet" />

<div class="card div-custom-color">
    <div class="card-body">
        <form class="form" id="consultarForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="receitaSelect" class="font-label-poppins">Receita</label>
                            <select class="form-control" id="tipoProcessoSelect">
                                <option>Tipo de Processo</option>
                                @*@if (receitas != null)
                                {
                                    foreach (var receita in receitas)
                                    {
                                        <option value="@receita.ReferenciaId">
                                            @receita.Nome
                                        </option>
                                    }
                                }*@
                            </select>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <label for="receitaSelect" class="font-label-poppins">Receita</label>
                                <select class="form-control" id="receitaSelect">
                                    <option>Processar</option>
                                    @if (receitas != null)
                                    {
                                        foreach (var receita in receitas)
                                        {
                                            <option value="@receita.ReferenciaId">
                                                @receita.Nome
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>*@
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="quantidade" class="font-label-poppins">Quantidade</label>
                            <input type="text" class="form-control mask-quantidade" id="quantidade" min="0" value="0" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="maestria" class="font-label-poppins">Maestria</label>
                            <select class="form-control" id="maestriaSelect">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="proc" class="font-label-poppins">Proc Normal</label>
                            <input type="text" class="form-control mask-proc" id="proc-normal" min="0" value="2.5" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="proc-especial" class="font-label-poppins">Proc Raro</label>
                            <input type="text" class="form-control mask-proc" id="proc-raro" min="0" value="0.30" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="calcular">&nbsp;</label>
                            <button type="submit" class="btn button-custom-color square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnCalcular">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="lucroBruto-card">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <img src="~/imagens/icones/bruto-icon.svg" class="float-left" width="72" height="72" />
                        </div>
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="lucroBruto">0</h3>
                            <span>Lucro Bruto</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="custoTotal-card">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <img src="~/imagens/icones/ingredientes-icon.svg" class="float-left" width="72" height="72" />
                        </div>
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="custoTotal">0</h3>
                            <span>Custo Total dos Ingredientes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="lucroComPctEconomico-card">
                    <div class="media d-flex">

                        <div class="align-self-center">
                            <img src="~/imagens/icones/pacote-icon.svg" class="float-left" width="72" height="72" />
                        </div>
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="lucroComPctEconomico">0</h3>
                            <span>Lucro Liq. C/Pct. Eco. (84.5%)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
        <div class="card div-custom-color">
            <div class="card-content">
                <div class="card-body" id="lucroSemPctEconomico-card">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <img src="~/imagens/icones/sem-pacote-icon.svg" class="float-left" width="72" height="72" />
                        </div>
                        <div class="media-body text-right">
                            <h3 class="font-label-poppins" id="lucroSemPctEconomico">0</h3>
                            <span>Lucro Liq. S/Pct. Eco. (65%)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-9 div-custom-color">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show background-e2e2e1" id="tab-ingredientes" data-toggle="tab" aria-controls="ingredientes" href="#ingredientes" aria-expanded="true">Ingredientes</a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" id="tab-usado-em" data-toggle="tab" aria-controls="usado-em" href="#usado-em" aria-expanded="false">Usado Em</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-estatisticas" data-toggle="tab" aria-controls="estatisticas" href="#estatisticas" aria-expanded="false">Estatísticas</a>
                                </li>*@
                        </ul>
                        <div class="tab-content px-1 pt-1 border-grey border-lighten-2 border-0-top background-e2e2e1">
                            <div role="tabpanel" class="tab-pane active show" id="ingredientes" aria-expanded="true" aria-labelledby="tab-ingredientes">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="ingredientesGrid"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            @*<div class="tab-pane" id="estatisticas" aria-labelledby="tab-estatisticas">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>*@

                            @*<div class="tab-pane" id="usado-em" aria-labelledby="tab-usado-em">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="culinariaItensReceitaTbMicro"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>*@
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show background-e2e2e1" id="tab-resultados" data-toggle="tab" aria-controls="resultados" href="#resultados" aria-expanded="true">Resultados</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1 border-grey border-lighten-2 border-0-top background-e2e2e1">
                            <div role="tabpanel" class="tab-pane active show" id="resultados" aria-expanded="true" aria-labelledby="tab-resultados">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="resultadosGrid"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="treeView">
            <div class="col-md-12">
                <fieldset class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text search-input"><i class="ft-search"></i></span>
                        </div>
                        <input type="text" class="form-control ac-default ui-autocomplete-input search-input" id="treeview-search" autocomplete="off">
                    </div>
                </fieldset>
                <div class="col-md-12" id="treeViewContent">
                </div>
            </div>

        </div>
    </div>
</div>

<div id="detalhesItem"></div>

@section Scripts {
    <script src="~/componentes/shepherd/shepherd.js"></script>
    <script src="~/componentes/izimodal/js/iziModal.min.js"></script>
    @*<script src="~/js/Culinaria/culinaria.min.js" asp-append-version="true"></script>*@
    <script src="~/js/Culinaria/Culinaria.js" asp-append-version="true"></script>
    @*<script src="~/js/Culinaria/CulinariaEnc.js" asp-append-version="true"></script>*@
    <script src="~/js/Culinaria/CulinariaTour.js" asp-append-version="true"></script>
}
