@{
    Layout = "_Layout";
}

<link href="~/componentes/handsontable/handsontable.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-12 div-custom-color">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="permuta-t1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/componentes/handsontable/handsontable.js"></script>
    <script src="~/js/Permuta/Calculadora.js"></script>
}