@model string

@{
    Layout = "_Layout";
}

<link href="~/componentes/shepherd/shepherd.css" rel="stylesheet" />

<div class="card div-custom-color">
    <div class="card-body">
        <form class="form" id="consultarForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="horasOnlineDia" class="font-label-poppins">Horas Online/Dia</label>
                            <select class="form-control" id="horasOnlineDia">
                                <option value="">Selecione a quantidade de horas</option>
                                <option value="24">24</option>
                                <option value="23">23</option>
                                <option value="22">22</option>
                                <option value="21">21</option>
                                <option value="20">20</option>
                                <option value="19">19</option>
                                <option value="18">18</option>
                                <option value="17">17</option>
                                <option value="16">16</option>
                                <option value="15">15</option>
                                <option value="14">14</option>
                                <option value="13">13</option>
                                <option value="12">12</option>
                                <option value="11">11</option>
                                <option value="10">10</option>
                                <option value="9">9</option>
                                <option value="8">8</option>
                                <option value="7">7</option>
                                <option value="6">6</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                                <option value="0">0</option>
                            </select>
                            @*<input type="text" class="form-control mask-quantidade" id="horasOnlineDia" min="0" value="24" max="24" style="border-radius: 0;" />*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ciclosDia" class="font-label-poppins">Máx. de Ciclos/Dia</label>
                            <input type="text" class="form-control mask-quantidade" id="ciclosDia" min="0" value="0" max="24" style="border-radius: 0;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="totalSlots" class="font-label-poppins">Total de Slots</label>
                            <input type="text" class="form-control mask-quantidade" id="totalSlots" min="0" value="0" max="100" style="border-radius: 0;" />
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <label for="maestria" class="font-label-poppins">Maestria <a href="#" onclick="ConfigurarMaestriaImperial()"><img style="vertical-align: baseline !important" id="configuracaoMaestriaIcone" src="~/imagens/icones/config-icon.svg" width="16" /></a></label>
                                <select class="form-control" id="maestriaSelect">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="proc" class="font-label-poppins">Proc Normal</label>
                                <input type="text" class="form-control mask-proc" id="proc-normal" min="0" value="2.5" style="border-radius: 0;" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="proc-especial" class="font-label-poppins">Proc Raro</label>
                                <input type="text" class="form-control mask-proc" id="proc-raro" min="0" value="0.30" style="border-radius: 0;" />
                            </div>
                        </div>*@
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="calcular">&nbsp;</label>
                            <button type="submit" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnCalcular">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@*<div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="lucroBruto-card">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="~/imagens/icones/bruto-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="lucroBruto">0</h3>
                                <span>Total de Forragens</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="custoTotal-card">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="~/imagens/icones/ingredientes-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="custoTotal">0</h3>
                                <span>Total de Frutos</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="lucroComPctEconomico-card">
                        <div class="media d-flex">

                            <div class="align-self-center">
                                <img src="~/imagens/icones/pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="lucroComPctEconomico">0</h3>
                                <span>Total de Especiais</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card div-custom-color">
                <div class="card-content">
                    <div class="card-body" id="lucroSemPctEconomico-card">
                        <div class="media d-flex">
                            <div class="align-self-center">
                                <img src="~/imagens/icones/sem-pacote-icon.svg" class="float-left" width="72" height="72" />
                            </div>
                            <div class="media-body text-right">
                                <h3 class="font-label-poppins" id="lucroSemPctEconomico">0</h3>
                                <span>Lucro Liq. S/Pct. Eco. (65%)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="col-md-12">
    <div class="row ">
        <div class="card col-md-12 div-custom-color">
            <div class="card-body">
                <p class="font-label-poppins" style="color: white !important;">É possível navegar entre as colunas da tabela pressionando Shift + Rotacionar Scroll do mouse.</p>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" id="tab-cultivos" data-toggle="tab" aria-controls="cultivos" href="#cultivos" aria-expanded="true">SEMENTES MÁGICAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-detalhes" data-toggle="tab" aria-controls="detalhes" href="#detalhes" aria-expanded="false">Info</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1 border-grey border-lighten-2 border-0-top background-e2e2e1">
                            <div role="tabpanel" class="tab-pane active show" id="cultivos" aria-expanded="true" aria-labelledby="tab-cultivos">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="cultivosGrid"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="tab-pane" id="detalhes" aria-labelledby="tab-detalhes">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12" style="padding: 20px;">
                                            <h4 class="font-label-poppins">Os cálculos foram baseados na planilha <a href="https://docs.google.com/spreadsheets/d/15_GdYRdKj-ocUyypo5WLT5fThDiKa5bzOfSoH3lhwPg/edit" target="_blank"><b>Magical Seeds Farming Profit by Summer#8727</b></a></h4>
                                            <hr />
                                            <p><b>Quando o objetivo é reprodução (Sementes Mágicas) focar nas colunas com N (NPC) da tabela, ou seja N quando sempre coletar apertando F5 - Criação de Plantas</b></p>
                                            <p><b>Quando o objetivo é colheita (Especiais)  focar nas colunas com M (Mercado) da tabela, ou seja M quando coletar apertando R - Colheita e F5 para o replantio</b></p>
                                            <p><b>Tempo de Crescimento:</b> Tempo de crescimento base + bonus por utilizar o fertilizante + bonus de temperatura perfeita</p>
                                            <p><b>1 Ciclo:</b> Colheita de todos os slots</p>
                                            <p><b>Lucro Mercado:</b> (Venda da colheita (Ex.: Alho Especial) no mercado + Forragem (Mercado) + Frutos (Mercado)) * Total de Ciclos</p>
                                            <p><b>Lucro NPC:</b> (Venda das sementes mágicas extras (NPC) + Forragem (Mercado) + Frutos (Mercado)) * Total de Ciclos</p>
                                            <p><u>Já esta descontada a taxa do mercado</u></p>
                                            <hr />
                                            <h4 class="font-label-poppins">Sementes Misteriosas vs Sementes Mágicas</h4>
                                            <p class="font-label-poppins">Sementes Mágicas:</p>
                                            <ul>
                                                <li>Requer nível de cultivo mínimo artesão 1</li>
                                                <li>Obtido da coleta das sementes especiais (5% de Chance)</li>
                                                <li>Ocupa 5 slots</li>
                                                <li>Tem o rendimento de 5x sementes especiais</li>
                                                <li>Tem o mesmo rendimento de subprodutos e frutos de x por slot que as sementes especiais</li>
                                                <li>Ao coletar a semente pode vir de 1 a 3 sementes mágicas</li>
                                                <li>Economiza tempo e energia</li>
                                                <li>Dá menos XP por coleta</li>
                                                <li>Alto valor de venda da semente para o NPC (não pode ser vendido no mercado)</li>
                                            </ul>
                                            <p class="font-label-poppins">Sementes Misteriosas:</p>
                                            <ul>
                                                <li>Não tem requisito de nível de cultivo</li>
                                                <li>Obtido da poda, reprodução (coleta da semente) ou safra (coleta do produto) das Sementes Especiais ou Mágicas (1% de Chance)</li>
                                                <li>Pode ser agitada com qualquer semente especial para produzir uma misteriosa</li>
                                                <li>Ocupa 5 Slots</li>
                                                <li>Quando coletada fornece 7x o rendimento que uma semente especial daria</li>
                                                <li>Ao coletar a semente pode vir de 1 a 3 sementes mágicas</li>
                                                <li>Ao coletar a semente fornece de 3 a 4 frutos (3.5 média)</li>
                                                <li>Não fornece novas sementes ao coletar a semente plantada</li>
                                                <li>Dá menos XP por coleta</li>
                                            </ul>
                                            <hr />
                                            @*<p><b>Taxa de Forragem/Colheita:</b> 0.25</p>
                                                <p><b>Taxa de Fruto/Colheita:</b> 0.75</p>
                                                <p><b>Taxa de Sementes/Colheita:</b> 1.55</p>
                                                <p><b>Quantidade de Plantas (Especial) Coletadas 5 Slots:</b> 150</p>
                                                <p><b>Quantidade de Plantas (Especial) Coletadas 10 Slots:</b> 132.5 (53 * 5 / 2)</p>
                                                <p><b>Total Sementes Mágicas:</b> Quantidade de Slots / 5 (Semente Mágica Ocupa 5 Slots)</p>
                                                <hr />
                                                <p><b>Total de Vezes de Coleta da Semente:</b> Total Sementes Mágicas / 1.55</p>
                                                <p><b>Total de Vezes de Coleta da Planta:</b> Total Sementes Mágicas - Total de Vezes de Coleta da Semente</p>
                                                <p><b>Total de Forragens/Colheita:</b> Total de Vezes de Coleta da Semente * 0.25</p>
                                                <p><b>Total de Fruto/Colheita:</b> Total de Vezes de Coleta da Semente * 0.75</p>
                                                <hr />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="trocarIngrediente" style="display: none;">

        <div class="col-md-12" style="padding: 20px;">
            <input type="hidden" class="form-control" id="itemTrocaSelecionado" />
            <input type="hidden" class="form-control" id="grupoItemTrocaSelecionado" />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ingredienteAlternativo" class="font-sm-label-poppins">Ingrediente</label>
                        <select class="form-control" id="ingredienteAlternativo">
                            <option>Selecione o ingrediente</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="ingredienteAlternativo" class="font-sm-label-poppins">Preço UN.</label>
                        <input class="form-control mask-prata" id="precoUnitario" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="quantidadeIngrediente" class="font-sm-label-poppins">Quantidade por receita</label>
                        <input class="form-control mask-quantidade" id="quantidadeIngrediente" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="btnSalvarMaestriaImperial">&nbsp;</label>
                    <button type="button" onclick="AlterarIngrediente()" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnSalvarMaestriaImperial">Alterar</button>
                </div>
            </div>

        </div>

        <ul style="color: white;">
            <li>1 Ingrediente com grade verde (Alta Qualidade) substitui de 2 a 3 de grade branca</li>
            <li>1 Ingrediente com grade azul (Especial) substitui de 3 a 5 de grade branca</li>
            <li>1 Peixe fresco substitui 2 peixes desidratados</li>
            <li>1 Massa de Batata/Milho equivale a 2 das outras massas</li>
        </ul>
    </div>*@

<!--<div id="configurarIngrediente" style="display: none;">
    <div class="col-md-12" style="padding: 20px;">
        <input type="hidden" class="form-control" id="itemSelecionado" />-->
@*<input type="hidden" class="form-control" id="grupoItemTrocaSelecionado" />*@

<!--<div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="maestriaConfIngrediente" class="font-sm-label-poppins">Maestria</label>
                    <select class="form-control" id="maestriaConfIngrediente">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="procNormalConfIngrediente" class="font-sm-label-poppins">Proc. Norm.</label>
                    <input type="text" class="form-control mask-proc" id="procNormalConfIngrediente" min="0" value="2.5" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="procRaroConfigurarIngrediente" class="font-sm-label-poppins">Proc. Raro</label>
                    <input type="text" class="form-control mask-proc" id="procRaroConfIngrediente" min="0" value="0.3" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="usarProcRaroConfIngrediente">&nbsp;</label>
                    <fieldset>
                        <label for="usarProcRaroConfIngrediente" class="checkbox font-sm-label-poppins">
                            <input type="checkbox" class="cbx" id="usarProcRaroConfIngrediente" />
                            Usar procs raros
                        </label>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-2">
                <label for="btnSalvarConfiguracao">&nbsp;</label>
                <button type="button" onclick="AlterarConfiguracao()" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnSalvarConfiguracao">Salvar</button>
            </div>
        </div>

    </div>
</div>-->
@*<div id="configuracaoMaestria" style="display: none;">
        <div class="col-md-12" style="padding: 20px;">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="maestria" class="font-sm-label-poppins">Maestria para entrega Imperial</label>
                        <select class="form-control" id="maestriaImperialSelect">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="btnSalvarMaestriaImperial">&nbsp;</label>
                    <button type="button" onclick="SalvarMaestriaImperial()" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnSalvarMaestriaImperial">Salvar</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div id="configuracaoQuantidade" style="display: none;">
        <div class="col-md-12" style="padding: 20px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="quantidadeProdutosCalculadora" class="font-sm-label-poppins">Produzir</label>
                        <input type="text" class="form-control mask-quantidade" id="quantidadeProdutosCalculadora" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="quantidadeDiasCalculadora" class="font-sm-label-poppins">Dias</label>
                        <input type="text" class="form-control mask-quantidade" id="quantidadeDiasCalculadora" value="1" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="totalProdutosCalculadora" class="font-sm-label-poppins">Total Prod.</label>
                        <input type="text" class="form-control mask-quantidade" readonly id="totalProdutosCalculadora" value="0" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="procNormalCalculadora" class="font-sm-label-poppins">Proc Normal</label>
                        <input type="text" class="form-control mask-proc" id="procNormalCalculadora" value="2.50" />
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="quantidadeReceitasCalculadora" class="font-sm-label-poppins">Receitas</label>
                        <input type="text" class="form-control mask-quantidade" readonly id="quantidadeReceitasCalculadora" value="0" />
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="btnSalvarQtdReceitaCalculadora">&nbsp;</label>
                    <button type="button" onclick="SalvarQtdReceita()" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnSalvarQtdReceitaCalculadora">Salvar</button>
                </div>
            </div>
        </div>
    </div>*@

<!--<div id="rankingReceitas" style="display: none;">
    <div class="col-md-12" style="padding: 20px;">
        <table id="rankingReceitasGrid" class="table table-striped table-bordered compact">
            <thead>
                <tr>
                    <th></th>
                    <th>Receita</th>
                    <th>Ingredientes</th>
                    <th>Lucro Bruto</th>
                    <th>Custo Bruto</th>
                    <th>Lucro Liquido</th>
                    <th>Demanda</th>
                    <th>Oferta</th>
                </tr>
            </thead>
            <tbody style="background-color: white !important;">
                <tr>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                </tr>
            </tbody>
        </table>-->
@*<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="quantidadeProdutosCalculadora" class="font-sm-label-poppins">Produzir</label>
            <input type="text" class="form-control mask-quantidade" id="quantidadeProdutosCalculadora" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="quantidadeDiasCalculadora" class="font-sm-label-poppins">Dias</label>
            <input type="text" class="form-control mask-quantidade" id="quantidadeDiasCalculadora" value="1" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="totalProdutosCalculadora" class="font-sm-label-poppins">Total Prod.</label>
            <input type="text" class="form-control mask-quantidade" readonly id="totalProdutosCalculadora" value="0" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="procNormalCalculadora" class="font-sm-label-poppins">Proc Normal</label>
            <input type="text" class="form-control mask-proc" id="procNormalCalculadora" value="2.50" />
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label for="quantidadeReceitasCalculadora" class="font-sm-label-poppins">Receitas</label>
            <input type="text" class="form-control mask-quantidade" readonly id="quantidadeReceitasCalculadora" value="0" />
        </div>
    </div>
    <div class="col-md-2">
        <label for="btnSalvarQtdReceitaCalculadora">&nbsp;</label>
        <button type="button" onclick="SalvarQtdReceita()" class="btn square font-label-poppins" style="width: 100% !important; border-radius: 20px;" id="btnSalvarQtdReceitaCalculadora">Salvar</button>
    </div>*@
@*</div>*@
<!--</div>
</div>-->

@section Scripts {
    <script src="~/componentes/shepherd/shepherd.js"></script>
    <script src="~/js/Cultivo/Cultivo.js" asp-append-version="true"></script>
    <script src="~/js/Cultivo/CultivoTour.js" asp-append-version="true"></script>
}  